/*Style*/
/* font family, sizes, colors*/

footer {
  align-items: center;
}

/*classes */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
