/*Style*/
/* font family, sizes, colors:#1DB954,black#191414 */
body {
  background-color: #191414;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
}
footer {
  color: aqua;
  align-content: center;
  font-family: Helvetica, Arial, sans-serif;
}

/*classes */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-family: Helvetica, Arial, sans-serif;
}
.legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Helvetica, Arial, sans-serif;
}
