/*Style*/
/* font family, sizes, colors*/

h1 {
  font-family: Helvetica, Arial, sans-serif;
}
footer {
  align-content: center;
}

/*classes */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
